div#search-page {
  height: 100%;
  div#welcome-map {
    position: relative;
    width: 100%;
    height: 100%;
  }
  form#searchForm {
    position: absolute;
    top: 35px;
    right: 10px;
    width:45%;
    z-index: 2;
    input#search-fillVol{
      width:100%;
    }
    input#search-btn{
      margin-top: 5px;
      float: right;
    }
  }
}

label{
  color:$dark-gray;
}