<div id="search-page">
    <div id="welcome-map" ></div>
    <form id="searchForm" name="searchForm" action="" ng-controller="MainPageCtrl" novalidate>
        <fieldset>
            <input class="form-control" type="number" ng-model="bodyObject.consumption" name="consumption11" placeholder="Fuel consumption (L) per 100km"/>
            <input class="form-control" type="number" ng-model="bodyObject.fillVol" name="volumn1" placeholder="How much L you want to fill"/>
            <input class="btn btn-primary" type="submit" ng-disabled="searchForm.$invalid" value="Search" ng-click="search()"/>
        </fieldset>
    </form>
</div>
